In [287]:
#Task 1: Create DataFrames and Save as CSV

In [289]:
import pandas as pd

#creating the Project DataFrame
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}

# Convert the dictionary into a Pandas DataFrame
project_df = pd.DataFrame(project_data)

# Save the DataFrame to a CSV file named 'project.csv' without including the index column
project_df.to_csv('project.csv', index=False)
print("\n Project DataFrame :\n",project_df)


# Creating the Employee DataFrame
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}

employee_df = pd.DataFrame(employee_data)
employee_df.to_csv('employee.csv', index=False)
print("\n Employee DataFrame :\n",employee_df)

# Creating the Seniority Level DataFrame
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}

seniority_df = pd.DataFrame(seniority_data)
seniority_df.to_csv('seniority.csv', index=False)
print("\n Seniority DataFrame :\n",seniority_df)

 Project DataFrame :
       ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

 Employee DataFrame :
      ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

 Seniority DataFrame :
      ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

In [291]:
#Task 2: Replace Missing Values in "Cost" Column with Running Average

In [293]:
import pandas as pd
import numpy as np

# Load the Project DataFrame from the CSV file
project_df = pd.read_csv('Project.csv')

# Calculate the running average using a for loop
cost_sum = 0
count = 0

for i in range(len(project_df)):
    if pd.isna(project_df.at[i, 'Cost']):
        if count == 0:
            project_df.at[i, 'Cost'] = 0  # Handle the case where the first value is NaN
        else:
            project_df.at[i, 'Cost'] = cost_sum / count
    else:
        cost_sum += project_df.at[i, 'Cost']
        count += 1

# Save the updated DataFrame
project_df.to_csv('Project.csv', index=False)

# Display the updated DataFrame
print(project_df)

      ID     Project          Cost    Status
0   A001   Project 1  1.002000e+06  Finished
1   A002   Project 2  2.000000e+06   Ongoing
2   A003   Project 3  4.500000e+06  Finished
3   A004   Project 4  5.500000e+06   Ongoing
4   A005   Project 5  3.250500e+06  Finished
5   A002   Project 6  6.800000e+05    Failed
6   A005   Project 7  4.000000e+05  Finished
7   A003   Project 8  3.500000e+05    Failed
8   A001   Project 9  2.061714e+06   Ongoing
9   A003  Project 10  3.000000e+05  Finished
10  A001  Project 11  2.000000e+06    Failed
11  A004  Project 12  1.000000e+06   Ongoing
12  A004  Project 13  3.000000e+06  Finished
13  A005  Project 14  2.000000e+05  Finished

In [295]:
# Task 3: Split the "Name" Column in Employee DataFrame

In [297]:
# Load the employee dataframe
employee_df = pd.read_csv('employee.csv')

# Split the 'Name' column into 'First Name' and 'Last Name'
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', expand=True)

#Removing Name coloumn
employee_df.drop(columns=['Name'], inplace=True)

# Save the updated DataFrame
employee_df.to_csv('employee.csv', index=False)

print(employee_df)

     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [299]:
# Task 4: Join All Three DataFrames

In [301]:
# Load the CSV files
project_df = pd.read_csv('project.csv')
employee_df = pd.read_csv('employee.csv')
seniority_df = pd.read_csv('seniority.csv')

# Merge the dataframes
merge_df = pd.merge(project_df, employee_df, on='ID')
final_df = pd.merge(merge_df, seniority_df, on='ID')

# Save the final DataFrame
final_df.to_csv('final.csv', index=False)
print(final_df)

      ID     Project          Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1.002000e+06  Finished      M    Paris   25       John
1   A002   Project 2  2.000000e+06   Ongoing      F   London   27      Alice
2   A003   Project 3  4.500000e+06  Finished      M   Berlin   29        Tom
3   A004   Project 4  5.500000e+06   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  3.250500e+06  Finished      F   Madrid   30        Amy
5   A002   Project 6  6.800000e+05    Failed      F   London   27      Alice
6   A005   Project 7  4.000000e+05  Finished      F   Madrid   30        Amy
7   A003   Project 8  3.500000e+05    Failed      M   Berlin   29        Tom
8   A001   Project 9  2.061714e+06   Ongoing      M    Paris   25       John
9   A003  Project 10  3.000000e+05  Finished      M   Berlin   29        Tom
10  A001  Project 11  2.000000e+06    Failed      M    Paris   25       John
11  A004  Project 12  1.000000e+06   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  3.000000e+06  Finished      F  Newyork   31       Nina
13  A005  Project 14  2.000000e+05  Finished      F   Madrid   30        Amy

    Last Name  Designation Level
0       Alter                  2
1   Luxumberg                  2
2   Sabestine                  3
3       Adgra                  2
4       Johny                  3
5   Luxumberg                  2
6       Johny                  3
7   Sabestine                  3
8       Alter                  2
9   Sabestine                  3
10      Alter                  2
11      Adgra                  2
12      Adgra                  2
13      Johny                  3

In [303]:
# Task 5: Add Bonus Column for Finished Projects

In [305]:
# Load the final dataframe
final_df = pd.read_csv('final.csv')

# Add the bonus column
final_df['Bonus'] = np.where(final_df['Status'] == 'Finished', final_df['Cost'] * 0.05, 0)

# Save the updated DataFrame
final_df.to_csv('final.csv', index=False)
print(final_df)

      ID     Project          Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1.002000e+06  Finished      M    Paris   25       John
1   A002   Project 2  2.000000e+06   Ongoing      F   London   27      Alice
2   A003   Project 3  4.500000e+06  Finished      M   Berlin   29        Tom
3   A004   Project 4  5.500000e+06   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  3.250500e+06  Finished      F   Madrid   30        Amy
5   A002   Project 6  6.800000e+05    Failed      F   London   27      Alice
6   A005   Project 7  4.000000e+05  Finished      F   Madrid   30        Amy
7   A003   Project 8  3.500000e+05    Failed      M   Berlin   29        Tom
8   A001   Project 9  2.061714e+06   Ongoing      M    Paris   25       John
9   A003  Project 10  3.000000e+05  Finished      M   Berlin   29        Tom
10  A001  Project 11  2.000000e+06    Failed      M    Paris   25       John
11  A004  Project 12  1.000000e+06   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  3.000000e+06  Finished      F  Newyork   31       Nina
13  A005  Project 14  2.000000e+05  Finished      F   Madrid   30        Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxumberg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                  2       0.0
4       Johny                  3  162525.0
5   Luxumberg                  2       0.0
6       Johny                  3   20000.0
7   Sabestine                  3       0.0
8       Alter                  2       0.0
9   Sabestine                  3   15000.0
10      Alter                  2       0.0
11      Adgra                  2       0.0
12      Adgra                  2  150000.0
13      Johny                  3   10000.0

In [307]:
# Task 6: Demote Designation Level for Failed Projects and Delete Records Above Level 4

In [309]:
# Demote the designation level by 1 for projects with status "Fail"
final_df.loc[final_df['Status'] == 'Failed', 'Designation Level'] -= 1

# Delete the employees record whose designation level is above 4
final_df = final_df[final_df['Designation Level'] <= 4]

# Save the updated DataFrame to the CSV file
final_df.to_csv('Final.csv', index=False)

# Display the updated DataFrame
print(final_df)

      ID     Project          Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1.002000e+06  Finished      M    Paris   25       John
1   A002   Project 2  2.000000e+06   Ongoing      F   London   27      Alice
2   A003   Project 3  4.500000e+06  Finished      M   Berlin   29        Tom
3   A004   Project 4  5.500000e+06   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  3.250500e+06  Finished      F   Madrid   30        Amy
5   A002   Project 6  6.800000e+05    Failed      F   London   27      Alice
6   A005   Project 7  4.000000e+05  Finished      F   Madrid   30        Amy
7   A003   Project 8  3.500000e+05    Failed      M   Berlin   29        Tom
8   A001   Project 9  2.061714e+06   Ongoing      M    Paris   25       John
9   A003  Project 10  3.000000e+05  Finished      M   Berlin   29        Tom
10  A001  Project 11  2.000000e+06    Failed      M    Paris   25       John
11  A004  Project 12  1.000000e+06   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  3.000000e+06  Finished      F  Newyork   31       Nina
13  A005  Project 14  2.000000e+05  Finished      F   Madrid   30        Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxumberg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                  2       0.0
4       Johny                  3  162525.0
5   Luxumberg                  1       0.0
6       Johny                  3   20000.0
7   Sabestine                  2       0.0
8       Alter                  2       0.0
9   Sabestine                  3   15000.0
10      Alter                  1       0.0
11      Adgra                  2       0.0
12      Adgra                  2  150000.0
13      Johny                  3   10000.0

In [311]:
# Task 7: Add Prefix to First Name and Drop Gender Column

In [313]:
# Add "Mr." or "Mrs." to the "First Name" based on gender
final_df['First Name'] = final_df.apply(lambda row: 'Mr. ' + row['First Name'] if row['Gender'] == 'M' else 'Mrs. ' + row['First Name'], axis=1)

# Drop the "Gender" column
final_df.drop(columns=['Gender'], inplace=True)

# Save the updated DataFrame to the CSV file
final_df.to_csv('Final.csv', index=False)

# Display the updated DataFrame
print(final_df)

      ID     Project          Cost    Status     City  Age  First Name  \
0   A001   Project 1  1.002000e+06  Finished    Paris   25    Mr. John
1   A002   Project 2  2.000000e+06   Ongoing   London   27  Mrs. Alice
2   A003   Project 3  4.500000e+06  Finished   Berlin   29     Mr. Tom
3   A004   Project 4  5.500000e+06   Ongoing  Newyork   31   Mrs. Nina
4   A005   Project 5  3.250500e+06  Finished   Madrid   30    Mrs. Amy
5   A002   Project 6  6.800000e+05    Failed   London   27  Mrs. Alice
6   A005   Project 7  4.000000e+05  Finished   Madrid   30    Mrs. Amy
7   A003   Project 8  3.500000e+05    Failed   Berlin   29     Mr. Tom
8   A001   Project 9  2.061714e+06   Ongoing    Paris   25    Mr. John
9   A003  Project 10  3.000000e+05  Finished   Berlin   29     Mr. Tom
10  A001  Project 11  2.000000e+06    Failed    Paris   25    Mr. John
11  A004  Project 12  1.000000e+06   Ongoing  Newyork   31   Mrs. Nina
12  A004  Project 13  3.000000e+06  Finished  Newyork   31   Mrs. Nina
13  A005  Project 14  2.000000e+05  Finished   Madrid   30    Mrs. Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxumberg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                  2       0.0
4       Johny                  3  162525.0
5   Luxumberg                  1       0.0
6       Johny                  3   20000.0
7   Sabestine                  2       0.0
8       Alter                  2       0.0
9   Sabestine                  3   15000.0
10      Alter                  1       0.0
11      Adgra                  2       0.0
12      Adgra                  2  150000.0
13      Johny                  3   10000.0

In [315]:
# Task 8: Promote Designation Level by 1 for Employees Older than 29 Years

In [317]:
# Promote designation level by 1 for employees whose age is more than 29 years
final_df.loc[final_df['Age'] > 29, 'Designation Level'] += 1

# Save the updated DataFrame to the CSV file
final_df.to_csv('Final.csv', index=False)

# Display the updated DataFrame
print(final_df)

      ID     Project          Cost    Status     City  Age  First Name  \
0   A001   Project 1  1.002000e+06  Finished    Paris   25    Mr. John
1   A002   Project 2  2.000000e+06   Ongoing   London   27  Mrs. Alice
2   A003   Project 3  4.500000e+06  Finished   Berlin   29     Mr. Tom
3   A004   Project 4  5.500000e+06   Ongoing  Newyork   31   Mrs. Nina
4   A005   Project 5  3.250500e+06  Finished   Madrid   30    Mrs. Amy
5   A002   Project 6  6.800000e+05    Failed   London   27  Mrs. Alice
6   A005   Project 7  4.000000e+05  Finished   Madrid   30    Mrs. Amy
7   A003   Project 8  3.500000e+05    Failed   Berlin   29     Mr. Tom
8   A001   Project 9  2.061714e+06   Ongoing    Paris   25    Mr. John
9   A003  Project 10  3.000000e+05  Finished   Berlin   29     Mr. Tom
10  A001  Project 11  2.000000e+06    Failed    Paris   25    Mr. John
11  A004  Project 12  1.000000e+06   Ongoing  Newyork   31   Mrs. Nina
12  A004  Project 13  3.000000e+06  Finished  Newyork   31   Mrs. Nina
13  A005  Project 14  2.000000e+05  Finished   Madrid   30    Mrs. Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxumberg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                  3       0.0
4       Johny                  4  162525.0
5   Luxumberg                  1       0.0
6       Johny                  4   20000.0
7   Sabestine                  2       0.0
8       Alter                  2       0.0
9   Sabestine                  3   15000.0
10      Alter                  1       0.0
11      Adgra                  3       0.0
12      Adgra                  3  150000.0
13      Johny                  4   10000.0

In [319]:
# Task 9: Calculate the Total Cost of All Projects for Each Employee

In [321]:
# Calculate the total cost of all projects for each employee
total_proj_cost = final_df.groupby('ID').agg({'Cost': 'sum', 'First Name': 'first'}).reset_index()
total_proj_cost.rename(columns={'Cost': 'Total Cost'}, inplace=True)

# Save the new DataFrame to a CSV file
total_proj_cost.to_csv('TotalProjCost.csv', index=False)

# Display the new DataFrame
print(total_proj_cost)

     ID    Total Cost  First Name
0  A001  5.063714e+06    Mr. John
1  A002  2.680000e+06  Mrs. Alice
2  A003  5.150000e+06     Mr. Tom
3  A004  9.500000e+06   Mrs. Nina
4  A005  3.850500e+06    Mrs. Amy

In [323]:
# Task 10: Print Employee Details for Cities Containing the Letter "o"

In [325]:
# Filter and print the employee details whose city name contains the letter "o"
filtered_df = final_df[final_df['City'].str.contains('o', case=False)]

# Display the filtered DataFrame
print(filtered_df)

      ID     Project       Cost    Status     City  Age  First Name  \
1   A002   Project 2  2000000.0   Ongoing   London   27  Mrs. Alice
3   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina
5   A002   Project 6   680000.0    Failed   London   27  Mrs. Alice
11  A004  Project 12  1000000.0   Ongoing  Newyork   31   Mrs. Nina
12  A004  Project 13  3000000.0  Finished  Newyork   31   Mrs. Nina

    Last Name  Designation Level     Bonus
1   Luxumberg                  2       0.0
3       Adgra                  3       0.0
5   Luxumberg                  1       0.0
11      Adgra                  3       0.0
12      Adgra                  3  150000.0